# Скопируйте в secrets.yaml рядом с light.yaml:
#   cp secrets.yaml.example secrets.yaml
wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
ap_password: "fallback-hotspot-password"
api_encryption_key: "nALt50se1OrirURvJQ/5s89JLsXC53sL27/uS2/Xu+M="
ota_password: "your-ota-password"
